aiogram==3.21.00
aiocryptopay==0.4.8
fastapi==0.116.1
loguru==0.7.3
uvicorn==0.35.0
greenlet==3.2.4
SQLAlchemy==2.0.43
alembic==1.16.4
pydantic==2.11.7
pydantic-settings==2.10.1
faststream[rabbit]
APScheduler==3.11.0
psycopg2==2.9.10  # Postgress on prod
# Dev modules
aiosqlite==0.21.0  # # Support async SQLite
pytest==8.4.1
pytest-asyncio==1.1.0
